# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=transactions

# Iceberg Storage Configuration
ICEBERG_CATALOG=local
ICEBERG_WAREHOUSE=./warehouse
ICEBERG_NAMESPACE=icestream
ICEBERG_TABLE=transactions

VITE_API_BASE_URL=http://127.0.0.1:8000